@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root { 
	--priColor: #1854aa; 
	--secColor: #84b244;
	/* --terColor: #fff; */
	/* --fourColor: #fff; */
	/* --fifColor: #fff; */

	--priFont: "Urbanist", sans-serif; 
	--secFont: "Courgette", cursive; 
	--bodyColor: #000; 
	--bodyFontWeight: 400; 
	--bodyFontSize: 18px; 
	--bodyLineHeight: 28px; 

}
.disclaimer { margin-top: 8px; }
.disclaimer a {color: inherit; } 
.disclaimer p {   color: #fff;   font-size: 16px;   display: flex;   align-items: center;   justify-content: left;   gap: 5px; }
.disclaimer a:hover { text-decoration: underline; }
.disclaimer b {   font-weight: normal; }

/* Heading and Button Styles */

.heading2{font-family: var(--secFont); font-size: var(--xlargeFont); font-weight: 400; color: #000; line-height: 100%;}
.subHead2{display: block; font-family: var(--priFont); font-size: var(--smallFont); font-weight: 400; color: #000; line-height: 100%; margin-bottom: 5px;}

.heading3{font-family: var(--secFont); font-size: var(--smallFont); font-weight: 400; color: #000; line-height: 100%;}

.btnStyle1{display: block; width: 100%; max-width: 200px; height: 60px; line-height: 60px; background: var(--priColor); font-size: var(--bodyFontSize); color: #fff; text-align: center; padding: 0 20px;}
.btnStyle1:hover{background: var(--secColor); -webkit-animation: jello-horizontal 0.9s both; animation: jello-horizontal 0.9s both; }
/* .btnStyle1::before{content: ""; width: 20px; height: 20px; background: #fff; line-height: 100%; border-radius: 50%; position: absolute; top: 5px; right: 20px;} */
 /* 5 */ 
.btn-5 {   width: 130px;      line-height: 42px;   padding: 0;   border: none;    background: var(--priColor); display: block;text-align: center;color: #fff;} 
.btn-5:hover {   color: var(--secColor);   background: transparent;    box-shadow:none; } 
.btn-5:before, .btn-5:after{   content:'';   position:absolute;   top:0;   right:0;   height:2px;   width:0;   background: var(--secColor);   box-shadow:    -1px -1px 5px 0px #fff,    7px 7px 20px 0px #0003,    4px 4px 5px 0px #0002;   transition:400ms ease all; } 
.btn-5:after{   right:inherit;   top:inherit;   left:0;   bottom:0; } 
.btn-5:hover:before, .btn-5:hover:after{   width:100%;   transition:800ms ease all; }
/* Heading and Button Styles End */
/* .jello-horizontal:hover { -webkit-animation: jello-horizontal 0.9s both; animation: jello-horizontal 0.9s both; } */

*, *:before, *:after { box-sizing: border-box; -moz-box-sizing: border-box; image-rendering: -webkit-optimize-contrast;}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline; -webkit-text-size-adjust: 100%;}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
button, html input[type=button], input[type=reset], input[type=submit] { -webkit-appearance: button; cursor: pointer; }
input:not([type='radio']):not([type='checkbox']), textarea, select{-webkit-appearance: none;}
form, label {-webkit-text-size-adjust: 100%;}
mark {background-color: transparent;color:inherit;}
/* end reset */

/*preset*/
body { font-family: var(--priFont); font-size: var(--bodyFontSize); font-weight: var(--bodyFontWeight); line-height: var(--bodyLineHeight); color: var(--bodyColor); position: relative; max-width: 1920px; margin: 0 auto; } 
body.active{overflow: hidden;width:100%;height:100%;position:fixed!important;}
a{ text-decoration:none; -webkit-transition: all .3s linear;transition: all .3s linear;}
img{max-width: 100%; vertical-align: top; image-rendering: -webkit-optimize-contrast;}
textarea { resize:vertical; }
iframe{ border: none; width: 100%;}
ul, h1, h2, h3, h4{ margin:0; padding:0; list-style:none; }
strong , b{ font-weight: bold;}
em, i{font-style: italic;}
input[type="submit"]{cursor: pointer;}
a[href^="tel:"]{color: inherit!important; text-decoration: none;}

.clearfix:before, .clearfix:after { content:""; display: table; clear: both; }
.clearfix {clear: both; overflow: hidden;}
.comp{color: #000; font-weight:700; }
.upcoming{color:red; font-style:italic; font-weight:bold;}
.col2{-webkit-column-count: 2; -moz-column-count: 2; column-count: 2; -webkit-column-gap: 10px; -moz-column-gap: 10px;  column-gap: 10px;}
.col3{-webkit-column-count: 3; -moz-column-count: 3; column-count: 3; -webkit-column-gap: 10px; -moz-column-gap: 10px;  column-gap: 10px;}
.col2 li, .col3 li{display: inline-block; width: 100%;}
.main_phone {font-weight: bold;}
.capital {   text-transform: uppercase; }

.back_top{display:none;background: var(--priColor);position: fixed; z-index:999;bottom:0;width: 100%;height: 45px;cursor:pointer; border-top: 1px solid #fff;}
.back_top:before{content:"";position:absolute;top:45%;left:50%;transform:translate(-50%,-45%);border-bottom:15px solid #fff;border-left:10px solid transparent;border-right:10px solid transparent;}
.back_top:hover{opacity:.7}

/*Heading for SEO*/
.h1_hdng{font-size: 22px; font-weight: 700; color: #000;}

/*Thumbnail Images*/
.thumb_left_dd, .thumb_left_dr{  float:left; margin:0 19px 10px 0;}
.thumb_right_dd, .thumb_right_dr{ float:right; margin:0 0 10px 19px;}
.thumb_center_dd, .thumb_center_dr{ display: block; margin: 10px auto;}

/* Text Alignment */
.text_left, .text_left p{text-align: left;}
.text_right, .text_right p{text-align: right;}
.text_center,.text_center p{text-align: center; display: block;}

/* Forms Presets */
::-webkit-input-placeholder {opacity: 1; color: inherit;}
::-moz-placeholder {opacity: 1; color: inherit;}
:-ms-input-placeholder {opacity: 1; color: inherit;}
:-moz-placeholder {opacity: 1; color: inherit;}

/*end preset*/

.wrapper{ width:100%; max-width: 1375px; margin: 0 auto; position: relative;}

main {   background: url(images/main-bg.jpg); padding: 40px 20px; }
.main_nav {   max-width: 646px;   float: right; width: 100%;text-align: right;}
.main_flex {   display: flex;   align-items: center;   justify-content: space-between;   gap: 10px; }

.main_holder {   min-height: 845px; }
.tablink { background-color: transparent; color: white; float: left; border: none; outline: none; cursor: pointer; padding: 14px 16px; font-size: 17px; width: 23%; border-radius: 50px; margin: 0 5px;}
.tablink:hover { background-color: #000; }
.tabcontent { color: white; display: none; padding: 50px 0; text-align: center; }

.home_holder { margin-top: 136px; }

.main_holder { padding: 0; max-width: 100%;margin: 0;text-align: center;position: relative;}
.main_hero { position: absolute; top: 0; left: 0; pointer-events: none;}

.social_media { } 
.social_media ul { display: flex;align-items: center;justify-content: center;gap: 10px;} 
.social_media ul li { } 
.social_media ul li a { } 
.social_media ul li a figure { }

.main_content { margin-top: 23px;} 
.main_content small { color: #fff;font-size: 25px;} 
.main_content h1 { font-size: 80px;line-height: 100%;font-family: var(--secFont);color: #fff;margin-top: 11px;} 
.main_content h1 span { display: block;font-size: 25px;font-family: var(--priFont);margin-top: -17px;}

.mcb {display: flex; align-items: center; justify-content: center; gap: 30px;margin-top: 10px;}
.mcb a{display: block; width: 203px; line-height: 55px; border-radius: 50px; color: #fff;text-transform: uppercase;font-weight: 500;}
.mcb a:first-child{background: #fc4100;}
.mcb a:last-child{ background:#51087e;}
.mcb a:hover{}

main { /*! padding: 150px 20px 50px; */ }

.main_tab {   margin-top: 0; }

/* About */

.about_holder { display: flex; align-items: start; justify-content: space-between; gap: 20px; }
.about_content {max-width: 691px; width: 100%;margin-top: 110px;}
.about_content h1 {font-size: 80px; line-height: 100%; font-family: var(--secFont);color: #fff;text-align: left;}
.about_content h1 span{display: block;margin-top: 19px;}
.about_content p{ color: #fff;margin-top: 45px;text-align: left;}

.about_holder .profile {}
.about_holder .profile img{}


/* End About */

/* Skills */
.skills_holder { padding: 150px 0 0; }
.skills_heading {font-size: 80px;	line-height: 100%;	font-family: var(--secFont);	color: #fff;text-align: left;}

.skills_logo {}
.skills_logo ul{display: flex;align-items: center;gap: 50px;justify-content: left;margin-top: 35px;}
.skills_logo ul li{}
.skills_logo ul li:hover figure img{ -webkit-filter: usnet;filter: unset;transform: scale(1.2);}
.skills_logo ul li figure img{-webkit-filter: grayscale(100%);filter: grayscale(100%);}

/* End Skills */


.contact_heading {font-size: 80px;	line-height: 100%;	font-family: var(--secFont);	color: #fff;}


.contact_holder { margin: 150px auto 0; }

